{% extends 'base.html.twig' %}

{% block body %}

{% if wish.isPublished %}

    <div class="serie-details">
		<div>
            <h1 style="margin : 0 0 0.25rem 0;">Details du voeu {{ wish.title }}:</h1>
			<span style="color:#FFFFFF55">{{ wish.category.name }}</span>
		</div>

        <p > {{ wish.description }}</p>
        <p align=end>By {{ wish.author }}<br>At {{ wish.dateCreated | date("d/m/Y") }}</p>
    </div>
{% else %}
    Not available now
{% endif %}

{% endblock %}
